
.btn-secondary {
  color: #fff !important;
  background: #01adfd !important;
  border-color: #01adfd !important;
}
.btn-secondary:hover {
  color: #fff !important;
  background: #42bff8 !important;
  border-color: #01adfd !important;
}
.badge-secondary{
  background: #10284ee8 !important;
}
.text-secondary {
  color: #10284e !important;
}
img {
  width: 100%;
}

.logo {
  width: 80px;
}

.navbar {
  opacity: 1;
  text-transform: uppercase;
}

.social a {
  margin-right: 0.4rem;
}

#showcase {
  background: url(../img/bgHome.jpg) top;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  
}
#showcase .container-fluid{
  background: rgba(0, 0, 0, .6);
  padding: 2rem 0;
}
#showcase .home-search {
  min-height: 400px;
  position: relative;
  border-radius: 5px;
}
#showcase .overlay {
  position: relative;
  background: #10284ebe;
}

#services {
  background: url(../img/building.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
#services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background:#10284ed3;
  padding: 2rem 0;
}

#showcase-inner {
  background: url(../img/building.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 200px;
}
#showcase-inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background:#10284ed3;
}
#showcase-inner.showcase-search {
  min-height: 270px;
}
#work{
  background:url(../img/bgHome.jpg) ;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
#work .container-fluid {
  background: #10284ecb;
  padding: 6rem 0;
  
}

.listing-preview a {
  position: relative;
}

@media (max-width: 991px) {
  #showcase .container-fluid {
    padding-top: 4rem;
    padding-bottom: 0
  }
  #showcase h1 {
    font-size: 40px;
  }
  .hide-md-down {
    display: none;
  }
}

@media (max-width: 768px) {
  #showcase .container-fluid{
    padding-top: 3rem;
    padding-bottom: 0;
  }
  #showcase .companyIntro{
    padding: 3rem 0;
  }
  #showcase h1 {
    font-size: 40px;
  }
  #showcase p {
    display: none;
  }
  #top-bar {
    text-align: center;
  }
  #top-bar .social {
    text-align: center !important;
  }
}

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px;
  }
  #showcase-inner h1 {
    font-size: 40px;
  }
}
